
body{
	margin: 0;
	padding: 0;
	background-color: var(--green);
}
.navbar{
	background-color: #2e1f26;
	color: #ecf5e6;
	display: flex;
	height: auto;
	position: relative;
	z-index: 10;
	justify-content: space-between;
	align-items: center;
	padding: 15px 40px;
	
}


	
.navlist{
	display: flex;
	list-style: none;
	gap: 20px;
	margin: 0;
	padding: 0;
	/* This gap is too much, also make the image smaller + replace it with the logo svg when
	you come back from lunch */
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	overflow: hidden;
	/* why r u so deadset on centering stuff */
}
li{
	display:inline;
	font-family: "txc-pearl", serif;
}
.navlist li:hover{
	color: #3d4a8c;
	cursor: pointer;
}
header{
	margin:0;
	padding:0;
	height: 600px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*background-color: #2e1f26;*/
	position:relative;
	z-index: 3;
}
h1{
	font-family: "amster",serif;
	font-weight: 700;
	
	font-style: normal;
	z-index: 3;
	
	
}
#herosection{
	background-image: url('docs/assets/plswork.jpg');
	background-size: cover;
	background-position: center;
	position:relative;
	z-index: 1;
	}

#herosection::before{
background-color: #2e1f26;
content: "";
	opacity: 0.95; /* Adjust this value for transparency */
	/* This is the important part */
	width: 100%;
	height: 100%;
	inset:0;
	position: absolute;
	z-index: 2;
	
}

.title{ color: #ecf5e6;
       text-align: center;
}
#set1{ font-family: "txc-pearl", serif;
      font-size: 60px;
     margin-bottom: 1rem;
	 position:relative;
	 z-index:0;
}
#set2{ font-family: "amster", serif;
      font-size: 50px;
      font-style: italic;
      color: #ecf5e6;
	  position: relative;
	  z-index:0;
}
h3{
	font-family: "txc-pearl", serif;
	color: var(--notwhite);
	font-size: 2.3rem;
	justify-content: center;
}

p{
	font-family: "amster", serif;
	font-weight: normal;
	font-style: normal;
}

.logo{
    display:flex;
	align-self: center;
	gap: 10px;
		}
		.logo img{
			height: 40px;
			width: 40px;
			
			/* This is the important part */
			object-fit: contain;
		}
		.logo span{
			font-family: "amster", serif;
		font-weight: 700;
		font-size: 1.4rem
		}
.card-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
.flowers{
	
	justify-content: center;
	display: grid;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 20px;
	max-width: 1200px;
	margin: 0 auto;

}
:root{
 --widthidk: 300px;
 --green: #82997d;
 --notblack: #2e1f26;
 --notwhite: #ecf5e6;
}
.cards{
	background-color: var(--green);
	width: 100%;
    padding: 40px;
}
.box{
    background-color: #2E1F26;
   	width: var(--widthidk);
    border-radius: 100px 100px 30px 30px;
	border: 4px var(--notwhite) solid;
	text-align: center;
    aspect-ratio: 3 / 4;
    margin-bottom: auto;
   overflow: hidden;
	 display: flex;
  justify-content: center;
  align-items: center;
	
}
.box:hover{
	box-shadow: 0 8px 16px 0 var(--notblack);
}
.boquets{
	/* The important parts are the object-fit and I guess the height and width*/
	object-fit: cover;
	background-color: var(--green);
	border-radius: 60px 60px 30px 30px;
	height: 100%;
	width: 100%;
	align-content: center;
}

.testimony{
	background-color: var(--notblack);
	width: 100%;
	color: var(--notwhite);
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	display:grid;
	grid-template-columns: 1fr  1fr;
	grid-gap: 10px;
	grid-template-rows: auto;
	position: relative;
	justify-content: space-evenly;
	justify-self: center;
}
.imageholder{
	position: relative;
	justify-self: center;
	width:50%;
	grid-column:1;
	grid-row:1;
}
.baddie:hover{
	box-shadow: 0 15px 10px rgba(236, 245, 230, 0.5);
}
.baddie{
	border-radius: 50%;
	aspect-ratio: 3 / 4;
    margin-bottom: auto;
   overflow: hidden;
   position:relative;
   left:20px;
  padding-top: 40px;
	width: 400px;
   grid-column: 1;
   grid-row: 1;
   z-index:2;
   
}
.ontop{
	position: absolute;
	top: -20%;
	right: 30%;
	grid-column: 1;
   grid-row: 1;
   z-index: 3;
}
.under{
	position: absolute;
   right: -50%;
   bottom: -20%;
	grid-column: 1;
   grid-row: 1;
	z-index: 1;
}
article p{
	font-family: "amster", serif;
	font-weight:200;
	font-size:18px;
	font-style: italic;
	padding-right: 20px;
	margin-right: 20px;
	grid-column: 2;
	grid-row: 1;
}

.bigtext{
	font-size: 60px;
}

.socials{
	background-color: var(--green);
	
}
.socials .cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}
#socialtitle{
	display:flex;
	align-items: center;
	justify-content:center;
}

.card1{
  display: flex;
  order:1;
  width:80px;
  height:auto;
}
.card2{
  display: flex;
  order:2;
  width:80px;
  height:auto;
}

.card3{
  display: flex;
  order:3;
  width:80px;
  height:auto;
}
