
body{
	margin: 0;
	padding: 0;
}
header{
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	font-family: "amster",serif;
	font-weight: 700;
	font-style: normal;
	font-size: 100px;
}
h3{
	font-family: "txc-pearl", serif;
}
p{
	font-family: "amster", serif;
	font-weight: normal;
	font-style: normal;
}

.logo{
    height: 65px;
    width: 60x;
	padding-left: 10px;
	padding-top: 10px;
		
}
.card-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
.flowers{
	
	justify-content: center;
	display: grid;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
	  padding: 40px;
	  
}
.box{
    background-color: #2E1F26;
    height: 250px;
    width: 180px;
    border-radius: 40px;
    text-align: center;
    aspect-ratio: 3 / 4;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
	overflow: hidden;
	 display: flex;
  justify-content: center;
  align-items: center;
	
}
.boquets{
	/* The important parts are the object-fit and I guess the height and width*/
	object-fit: cover;
    height: 100%;
	width: 100%;
	border-radius: 40px;
	align-content: center;
}
